
a {
  color: #a5732a;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }
  a:hover {
    outline: none;
    text-decoration: none;
    color: #dab074; }
  a:focus {
    outline: none;
    outline-offset: 0; }
    ul {
  list-style: none; }

.overflow {
  overflow: hidden; }

.btn-common {
  font-size: 14px;
  color: #797979;
  border: 1px solid #dbb075;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 10px 25px; }

.btn-common:hover,
.btn-common:focus {
  outline: none;
  background: none;
  box-shadow: none;
  color: #d29948; }

.align-right {
  text-align: right; }

.inline {
  display: inline-block; }

.padding {
  padding: 65px 0; }

.padding-bottom {
  padding-bottom: 65px; }

.padding-top {
  padding-top: 90px; }

.padding-right {
  padding-right: 80px; }

.padding-left {
  padding-left: 80px; }

.margin-bottom {
  margin-bottom: 35px; }

/*************************
*******Header******
**************************/
#header {
  margin-bottom: 0;
  padding: 30px 0 60px 0; }
  #header .navbar-inverse .container {
    position: relative; }

.social-icons ul li {
  padding: 0 10px; }
  .social-icons ul li:last-child {
    padding-right: 0; }

.social-icons ul li a {
  font-size: 18px;
  color: #d3d3d3;
  padding: 0; }
  .social-icons ul li a:hover, .social-icons ul li a:focus {
    color: #dbb075;
    background: none; }

#header .navbar {
  background: #fff;
  border: 0;
  margin-bottom: 0; }
#header .navbar-toggle {
  margin-top: 20px; }
#header .navbar-brand {
  padding: 0;
  margin-left: 0;
  width: 50% }
  #header .navbar-brand h1, #header .navbar-brand h2 {
    padding: 0;
    margin: 0; }
#header .navbar-nav.navbar-right > li a  {
  color: #000;
  font-size: 12px;
  padding: 20px;
  text-transform: uppercase;
  font-weight: 300; }
#header .navbar-nav.navbar-right > li:last-child {
  margin-right: 20px; }
#header .navbar-inverse .navbar-nav li a:hover {
  color: #d29948; }
#header .navbar-inverse .navbar-nav li.active > a, #header .navbar-inverse .navbar-nav li.active > a:focus {
  background-color: inherit;
  border: 0;
  color: #d29948; }
#header .navbar-nav li ul.sub-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0; }
  #header .navbar-nav li ul.sub-menu li a {
    color: #818285;
    padding: 5px 0;
    font-size: 13px;
    display: block;
    text-transform: capitalize; }
  #header .navbar-nav li ul.sub-menu li:hover, #header .navbar-nav li ul.sub-menu li:focus {
    background: #fef7ee;
    color: #d29948; }
  #header .navbar-nav li ul.sub-menu li .active {
    background: #fef7ee;
    color: #d29948;
    position: relative; }
    #header .navbar-nav li ul.sub-menu li .active i {
      position: absolute;
      font-size: 56px;
      top: -13px;
      color: #dab074; }
    #header .navbar-nav li ul.sub-menu li .active .fa-angle-right {
      left: -3px; }
    #header .navbar-nav li ul.sub-menu li .active .fa-angle-left {
      right: -3px; }

#header .navbar-inverse .navbar-nav li.active > a,
#header .navbar-inverse .navbar-nav li.active > a:focus,
#header .navbar-nav.navbar-right li > a:hover,
.navbar-inverse .navbar-nav > .open > a {
  background-color: inherit;
  border: 0;
  color: #d29948; }

#home-slider .main-slider{
    background-image: url(../images/home/slider-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    position: relative;
    top: 100px;
  }

  #home-slider .take-tour p{
    position: relative;
    bottom: 10px;
  }
#home-slider .slide-text{
    position: relative;
    bottom: 10px;
  }
p{
    width: 400px;
    font-size: 12px;
    font-weight: bold;
    margin:20px 0;
  }

  #home-slider .slider-house{
   float: right;
   position: relative;
   bottom: 90px;
  }
  #home-slider .slider-cloud2{
  position: relative;
  bottom: 300px;
  left: 600px;
}

  #home-slider .slider-cloud1{
    position: relative;
    bottom: 200px;
    left: 800px;
  }
  #home-slider .slider-cloud3{
    position: relative;
    bottom: 290px;
    left: 750px;}

#home-slider .slider-cycle{
  position: relative;
  left: 430px;
  bottom: 120px;
}
#home-slider .slider-sun{
  position: relative;
  left: 500px;
  bottom:300px;
}
#home-slider .slider-circle1{
  position: relative;
  left: 680px;
  bottom:200px;
  transform:rotate(- 85deg); 
}

#home-slider .slider-circle2{
  position: relative;
  left: 670px;
  bottom:230px;
  transform:rotate(- 85deg); 
}

#action .responsive{ 
  background-image: url(../images/home/tour-bg.png);
  width: 100%; 
  height: 100px;
  position: relative;
  left: 20px;
}
#action .flat
{
  width: 450px;
  height: 100px;
}
#action .col-sm-5 {
  position: absolute;
  top: 5;
  height: 100%;
  right: 0; }
#action p{
  position: relative;
  bottom: 70px;
}
#action .btn{
  position: relative;
  right: 300px;
  top: 50px;}
#clients .buho {
  position: relative;
  left:500px;
}
#clients .buhop {
  position: relative;
  left: 370px;
}